$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$wrapper-background: #660033;
$font-color: #ffffff;

body {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: $font-color;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.wrapper {
  background-color: $wrapper-background;
  margin: 0 auto;
  width: 960px;
}

.game-board {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  margin: 100px auto;
  width: 600px;
}

.square {
  border-style: solid;
  border-width: 1px;
  height: 199px;
  width: 19px;
}
